{
  "presets": [
    [
      "es2015",
      {"modules": false}
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
     "babel-plugin-inline-import"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
